:root {
    --Main-font: 'Outfit', sans-serif;
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayis-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);

}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    
    font-family: var(--Main-font);
    font-size: 1.5rem;
    background-color: var(--Light-gray);
}


.cont-window{
    display: grid;
    gap: 2rem;
    border: 2rem;
    margin: auto;
    background-color: var(--White);
    padding: 2rem;
    width: 30rem;
    box-shadow: 0 0rem 4rem -2rem var(--Grayis-blue) ;
    border-radius: 2rem;

}

.img-window {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}



.center {
    margin:auto;
    text-align: center;
}

.title-window {
    color: var(--Dark-blue);
    font-size: 2.2rem;
    font-weight: 700;
}

.text-window {
    color: var(--Grayis-blue);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
